body {
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: underline red;
    font-weight: bold;
}

h1 {
    color: red
}

h2 {
    color: lightblue;
    text-decoration: underline;
}

a {
    color: wheat
}

img {
    background-color: white;
}